version: "3.8"

services:
  eegfaktura-postgresql:
    image: ghcr.io/eegfaktura/eegfaktura-postgresql:latest
#    build: ../eegfaktura-postgresql-docker
    hostname: eegfaktura-postgresql
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD_FILE: "/run/secrets/eegfaktura-postgres-password"
      POSTGRES_DATABASE: "postgres"
      DB_USERNAME: "eegfaktura"
      DB_PASSWORD_FILE: "/run/secrets/eegfaktura-db-password"
      DB_DATABASE: "eegfaktura"
      KEYCLOAK_DB_USERNAME: "keycloak"
      KEYCLOAK_DB_PASSWORD_FILE: "/run/secrets/eegfaktura-keycload-db-password"
      KEYCLOAK_DB_DATABASE: "keycloak"
      POSTGRES_INITDB_ARGS: "--locale=de_DE:UTF8"
    volumes:
      - eegfaktura_postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: "PGPASSWORD=$${DB_PASSWORD} pg_isready -d $${DB_DATABASE} -U $${DB_USERNAME} && psql --d $${DB_DATABASE} -U $${DB_USERNAME} --list"
      timeout: 10s
      start_period: 10s
      interval: 10s
      retries: 20
    secrets:
      - eegfaktura-postgres-password
      - eegfaktura-db-password
      - eegfaktura-keycload-db-password
          
  eegfaktura-mosquitto:
    image: ghcr.io/eegfaktura/eegfaktura-mosquitto:0.1.0
    hostname: eegfaktura-mosquitto
    command: /usr/sbin/mosquitto -c /mosquitto/config/mosquitto.conf
    volumes:
      - eegfaktura_mosquitto_data:/mosquitto/data
      - eegfaktura_mosquitto_log:/mosquitto/log


  eegfaktura-postfix:
    image: ghcr.io/eegfaktura/eegfaktura-postfix:0.1.0
    hostname: eegfaktura-postfix
    environment:
      POSTFIX_RELAY_HOST: "smtp.yourdomain.com"
      POSTFIX_RELAY_PORT: "587"
      POSTFIX_RELAY_TLS: "yes"
      POSTFIX_RELAY_USER: "yoruser@yourdomain.com"
      POSTFIX_RELAY_PASSWORD_FILE: "/run/secrets/eegfaktura-smtp-password"
      POSTFIX_RELAY_EMAIL: "eegfaktura@yourdomain.com"
      POSTFIX_HOSTNAME: "eegfaktura-postfix"
      POSTFIX_MYDOMAIN: "yourdomain.com"
      POSTFIX_MYNETWORK: ""
      POSTFIX_DNS_1: "9.9.9.9"
      POSTFIX_DNS_2: "1.1.1.1"
    secrets:
      - eegfaktura-smtp-password

  eegfaktura-energystore:
    image: ghcr.io/eegfaktura/energy-store:latest
    hostname: eegfaktura-energystore
    environment:
      KEYCLOAK_CONFIG: "/run/secrets/eegfaktura-keycload-json"
      ENERGYSTORE_MQTT_HOST: "tcp://eegfaktura-mosquitto:1883"
      ENERGYSTORE_SERVICES_master-server: "eegfaktura-backend:9092"
      ENERGYSTORE_PERSISTENCE_PATH: "/opt/rawdata"
    volumes:
      - eegfaktura_energystore_data:/opt/rawdata
    depends_on:
      eegfaktura-mosquitto:
        condition: service_started
      eegfaktura-keycloak:
        condition: service_healthy        
    secrets:
      - eegfaktura-keycload-json
      
  eegfaktura-web:
    image: ghcr.io/eegfaktura/vfeeg-web:latest
    hostname: eegfaktura-web
    volumes:
      - ./keycloak/keycloak-web.json:/var/www/html/vfeeg-web/config/keycloak-config.json
    depends_on:
      - eegfaktura-backend
      - eegfaktura-energystore
#      - eegfaktura-billing
      - eegfaktura-filestore   
      
  eegfaktura-backend:
    image: ghcr.io/eegfaktura/vfeeg-backend:latest
    hostname: eegfaktura-backend
    volumes:
      - eegfaktura_backend_data:/opt/storage
    environment:
      KEYCLOAK_CONFIG: "/run/secrets/eegfaktura-keycload-json"
      VFEEG_BACKEND_DATABASE_USER: "eegfaktura"
      VFEEG_BACKEND_DATABASE_PASSWORD: "Dzy5lShLn1N3rqTM"
      VFEEG_BACKEND_DATABASE_DBNAME: "eegfaktura"
      VFEEG_BACKEND_DATABASE_HOST: "eegfaktura-postgresql"
      VFEEG_BACKEND_DATABASE_PORT: "5432"
      VFEEG_BACKEND_MQTT_HOST: "tcp://eegfaktura-mosquitto:1883"     
    depends_on:
      eegfaktura-postgresql:
        condition: service_healthy
      eegfaktura-mosquitto:
        condition: service_started
      eegfaktura-keycloak:
        condition: service_healthy
    secrets:
      - eegfaktura-keycload-json

  eegfaktura-proxy:
    image: caddy
    ports: 
      - "8001:80"
      - "8002:81"      
    volumes: 
      - ./caddy/caddy.conf:/etc/caddy/Caddyfile
    depends_on:
      - eegfaktura-web
      - eegfaktura-backend
      - eegfaktura-energystore
#      - eegfaktura-billing
      - eegfaktura-filestore
      - eegfaktura-keycloak

  eegfaktura-keycloak:
    image: ghcr.io/eegfaktura/eegfaktura-keycloak:latest
    hostname: eegfaktura-keycloak
    command: start --optimized --import-realm
    volumes:
      - ./keycloak/import:/opt/keycloak/data/import
    environment:
      KC_DB_USERNAME: "keycloak"
      KC_DB_PASSWORD: "Rs7naJnwoM4cz5Ws"
      KC_DB_URL: "jdbc:postgresql://eegfaktura-postgresql:5432/keycloak"
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
#      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: true
      PROXY_ADDRESS_FORWARDING: true
      KC_PROXY: edge
      KC_HOSTNAME_DEBUG: true
      KEYCLOAK_ADMIN: "admin"
      KEYCLOAK_ADMIN_PASSWORD: "SuperSecretPassword"
      KEYCLOAK_FRONTEND_URL: "http://eegfaktura-keycloak:9180"
      KC_HTTP_MANAGEMENT_PORT: "9181"
    ports: 
      - "9180:8080"
      - "9181:9181"
    healthcheck:
      test: [
        "CMD-SHELL",
        "exec 3<>/dev/tcp/localhost/8080; \
        echo -en 'GET /health/ready' >&3; \
        # Give the server a moment to respond, then search for 'UP'
        if timeout 3 cat <&3 | grep -m 1 'UP'; then \
          exec 3<&-; exec 3>&-; exit 0; \
        else \
          exec 3<&-; exec 3>&-; exit 1; \
        fi"
      ]
      start_period: 10s
      interval: 5s
      timeout: 2s
      retries: 20               
    depends_on:
      eegfaktura-postgresql:
        condition: service_healthy
        
  eegfaktura-admin-backend:
    image: ghcr.io/eegfaktura/eeg-registration-backend:latest
    hostname: eegfaktura-admin-backend
    command: /opt/docker/bin/eegfaktura-registration
    environment:
      KEYCLOAK_CONFIG_JSON: "/run/secrets/eegfaktura-keycload-json"
      DATABASE_USER: "eegfaktura"
      DATABASE_PASSWORD: "Dzy5lShLn1N3rqTM"
      DATABASE_DBNAME: "eegfaktura"
      DATABASE_HOST: "eegfaktura-postgresql"
      DATABASE_PORT: "5432"
      REGISTER_SERVICE_HOST_EEG: "eegfaktura-backend"
    depends_on:
      eegfaktura-postgresql:
        condition: service_healthy
      eegfaktura-mosquitto:
        condition: service_started
      eegfaktura-keycloak:
        condition: service_healthy
    secrets:
      - eegfaktura-keycload-json
              
  eegfaktura-admin-web:
    image: ghcr.io/eegfaktura/eeg-registration-frontend:latest
    hostname: eegfaktura-admin-web
    volumes:
      - ./keycloak/keycloak-web.json:/var/www/html/registration-web/config/keycloak-config.json 
    depends_on:
      eegfaktura-postgresql:
        condition: service_healthy
      eegfaktura-mosquitto:
        condition: service_started
      eegfaktura-keycloak:
        condition: service_healthy

  eegfaktura-filestore:
    image: ghcr.io/eegfaktura/eegfaktura-filestore:0.1.0
    hostname: eegfaktura-filestore
    volumes:
      - eegfaktura_filestore_data:/eegfaktura-filestore-data
    environment:
      DB_HOSTNAME: "eegfaktura-postgresql"
      DB_USERNAME: "eegfaktura"
      DB_PASSWORD_FILE: "/run/secrets/eegfaktura-db-password"
      HTTP_PROTOCOL: "http"
      HTTP_HOSTNAME: "0.0.0.0"
      HTTP_PORT: 8080
      HTTP_FILE_DL_ENDPOINT: "filestore"
      FILESTORE_LOCAL_BASE_DIR: "/eegfaktura-filestore-data"
      FILESTORE_CREATE_UNKNOWN_CATEGORY: true
      FILESTORE_CREATE_UNKNOWN_CONTAINER: true
      FILESTORE_CREATE_UNKNOWN_STORAGE: true
    depends_on:
      eegfaktura-postgresql:
        condition: service_healthy
    secrets:
      - eegfaktura-db-password

  eegfaktura-billing:
    image: ghcr.io/eegfaktura/eegfaktura-billing:0.1.0
    hostname: eegfaktura-billing
    environment:
      JDBC_DATABASE_URL: "jdbc:postgresql://eegfaktura-postgresql:5432/eegfaktura"
      JDBC_DATABASE_USERNAME: "eegfaktura"
      JDBC_DATABASE_PASSWORD: "Dzy5lShLn1N3rqTM"
    depends_on:
      eegfaktura-postgresql:
        condition: service_healthy
      eegfaktura-postfix:
        condition: service_started
      
volumes:
    eegfaktura_postgres_data:
    eegfaktura_mosquitto_data:
    eegfaktura_mosquitto_log:
    eegfaktura_energystore_data:
    eegfaktura_eda_data:
    eegfaktura_backend_data:
    eegfaktura_filestore_data:

secrets:
  eegfaktura-postgres-password:
    file: ./eegfaktura-postgres-password.txt
  eegfaktura-db-password:
      file: ./eegfaktura-db-password.txt
  eegfaktura-jwt-public-key:
    file: ./jwt-public-key.pem
  eegfaktura-https-key:
    file: ./eegfaktura-proxy.key
  eegfaktura-https-cert:
    file: ./eegfaktura-proxy.crt
  eegfaktura-smtp-password:
      file: ./eegfaktura-smtp-password.txt
  eegfaktura-keycload-db-password:
      file: ./eegfaktura-keycload-db-password.txt
  eegfaktura-keycload-json:
      file: ./keycloak/keycloak.json
